@page "/auth/login"
@inject UserService UserService
@inject ILogger<Login> Logger
@using Domain.Exceptions
@inherits CancellationComponent


<MudCard Class="position-relative w-100">
    <MudCardHeader>
        <MudText Typo="Typo.h5">Login</MudText>
        <AuthorizeView>
            <Authorized>
                <MudSpacer/>
                <MudText Typo="Typo.subtitle1" Color="Color.Info">You are already logged in, but you can still change accounts</MudText>
            </Authorized>
        </AuthorizeView>
    </MudCardHeader>
    <MudCardContent>
        <div @onkeydown="@TryLogin">
            <MudForm @ref="_from">
                @if (_error is not null) {
                    <MudAlert Severity="Severity.Error" ShowCloseIcon="true" CloseIconClicked="() => _error = null">
                        @(_error)
                    </MudAlert>
                }
                <MudTextField
                    T="string" Immediate="true" InputType="InputType.Text" InputMode="InputMode.text"
                    Label="Email" Mask="RegexMask.Email()"
                    @bind-Value="Model.Email"
                    For="() => Model.Email"/>
                <MudTextField
                    T="string" Immediate="true" InputMode="InputMode.text"
                    Label="Password" Class="mt-3"
                    InputType="_passwordInputType" Adornment="Adornment.End"
                    AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="ShowPwd"
                    @bind-Value="Model.Password"
                    For="() => Model.Password"/>
            </MudForm>
        </div>
        <MudOverlay @bind-Visible="_isLoggingIn" DarkBackground="true" AutoClose="false" LockScroll="true" Absolute="true">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Large"/>
        </MudOverlay>
    </MudCardContent>
    <MudCardActions>
        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" OnClick="async () => await HandleLoginAsync()">Login</MudButton>
        <MudSpacer/>
        <a href="auth/register">
            <MudText Typo="Typo.subtitle1">
                Don't have an account?
            </MudText>
        </a>
    </MudCardActions>
</MudCard>


@code {
    bool _isLoggingIn;
    
    MudForm _from = null!;
    string? _error;

    bool _isShow;
    string _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
    InputType _passwordInputType = InputType.Password;


    LoginModel Model { get; } = new();

    void ShowPwd() {
        if (_isShow) {
            _isShow = false;
            _passwordInputIcon = Icons.Material.Filled.VisibilityOff;
            _passwordInputType = InputType.Password;
        }
        else {
            _isShow = true;
            _passwordInputIcon = Icons.Material.Filled.Visibility;
            _passwordInputType = InputType.Text;
        }
    }

    async void TryLogin(KeyboardEventArgs e) {
        if (e.Code is "Enter" or "NumpadEnter")
            await HandleLoginAsync();
    }

    async Task HandleLoginAsync() {
        try {
            if (!await _from.IsFormValidAsync()) return;
            _isLoggingIn = true;
            await UserService.LoginAsync(Model);
        }
        catch (LoginException) {
    // this is the only exception that can be thrown by the login method (we wrote that ourselves :))
            _error = "Invalid username or password";
        }
        catch (TaskCanceledException) {
            Logger.LogInformation("Login canceled");
        }
        catch (OperationCanceledException) {
            Logger.LogInformation("Login canceled");
        }
        catch (Exception e) {
            Logger.LogCritical("Login failed: {Message} \n", e.Message);
            Logger.LogCritical("Login failed: {StackTrace} \n", e.StackTrace);
        }
        finally {
            _isLoggingIn = false;
        }
    }

}