.theme-button {
    position: fixed;
    bottom: 0;
    background-color: rgba(var(--mud-palette-primary-rgb), 0.5);
    z-index: 4999;
    right: 0;
    cursor: pointer;
    box-shadow: rgba(55, 55, 55, 0.15) 0 0 2px 0, rgba(55, 55, 55, 0.15) 0 8px 12px 0;
}

.mode-button {
    border: 1px solid var(--mud-palette-table-lines);
    height: 50px;
}

::selection {
    color: white;
    background: var(--mud-palette-secondary);
}

.min-w-50{
    min-width: 50%;
}

/*
mud-list-item mud-list-item-gutters mud-list-item-clickable mud-ripple*/


.mud-scroll-to-top.visible{
    position: fixed!important;
    bottom: 0 !important;
    right: 56px!important;
}

.mud-scroll-to-top button{
    border-radius: 0;
    width: 56px!important;
    height: 40px!important;
    border-top-left-radius: 24px !important;
    border-top-right-radius: 24px !important;
}